.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo-img {
  width: 20%;
}

.logo {
  background: #001920;
}

@media screen and (max-width: 768px) {
  .logo-img {
    width: 30%;
  }
}
